@import './components/AppBarComponentSass.scss';
@import './components/Table/Index.scss';
@import './components/Sidebar/Index.scss';

.text-pointer{
    cursor: pointer !important;
}
.text-14{
    font-size: 14px !important;
}
.text-12{
    font-size: 12px !important;
}

.bg-primary-2{
    background-color: rgba(55, 180, 0, 0.32) !important;;
}